@import'library.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 940px;
  margin: 0 auto;
  padding: 0 1rem;

  h2, h3 {
    text-align: center;
    color: $custom-black;
  }
}
