@import "library.scss";

.menuItems {
  cursor: pointer;
  display: flex;
  gap: 0.4rem;
  align-items: center;
  border: 2px solid $primary;
  background-color: $background;
  border-radius: 6px;
  width: 120px;
  justify-content: center;
  padding: 0.4rem 0.8rem;
  font-family: var(--font-karla);
  font-size: 18px;
  font-weight: 500;

  &:hover {
    background-color: $background;
    color: $primary;
  }
}
