@import "library.scss";

.container {
  max-width: $container-width;
  padding: 6rem 1rem;
  margin: 0 auto;

  .blogList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;

    @media (max-width: $md) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $sm) {
      grid-template-columns: 1fr;
    }
  }
}
