.container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 0.4rem;
  font-family: var(--font-karla);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.6rem;
  z-index: 10;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
  }
}
