@import "library.scss";

.container {
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 4/5;
}
