@import "library.scss";

.container {
  border-radius: 6px;
  position: relative;
  aspect-ratio: 4/5;
  width: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .blurWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    padding: 1rem;

    .payIcon {
      position: relative;
      width: 62px;
      height: 62px;
      display: block;

      @media (max-width: $md) {
        width: 32px;
        height: 32px;
      }
    }
  }

  .paidIcon {
    position: absolute;
    padding: 0.6rem;
    left: 0;
    bottom: 0;
  }

  .userMenuWrapper {
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.6rem;
  }
}
