@import "library.scss";

.container {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  min-height: 100vh;

  @media (max-width: $md) {
    border-right: inherit;
    max-width: inherit;
  }
}
