@import "library.scss";

.container {
  color: $custom-black;

  h1 {
    font-family: var(--font-karla);
    margin: 0;
    font-size: 32px;
    margin-bottom: 2rem;
  }

  .blogList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;

    @media (max-width: $md) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $sm) {
      grid-template-columns: 1fr;
    }
  }
}
